
.Div2 {
  min-height: 1000px;
  width: 100%;
  margin-right: 5px;
  overflow: auto;
  background-color: green;
  position: absolute;
  left: 0%;
}

.Div3 {
  border: 1px solid #ddd;
  width: 50%;
  background-color: #c00;
  border: 2px solid #c00;
  min-height: 500px;
  position: fixed;
  right: 0px;
}