<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    link(rel="stylesheet", href="./css/pug.scss")
</head>
<style>
    
</style>
<body>
  header
  h1 Find your favorite place...
.container
  .thumbex
    .thumbnail
      a(href="javascript:void(0)") 
       img(src="https://bit.ly/2vnI5ZM")
       span Beaches
  .thumbex     
    .thumbnail
      a(href="javascript:void(0)")
       img(src="https://bit.ly/2DprTNZ")
       span Mountains
  .thumbex
    .thumbnail
      a(href="javascript:void(0)")
       img(src="https://bit.ly/2NZ6ahm")
       span Forest  
</body>
</html>